@{
    ViewData["Title"] = "About";
}
<div class="row bg-dark rounded">

    <span class="col-sm-3"></span>
    <span class="col-sm-6 pt-5 text-center">
        <a href="https://www.disneylorcana.com"><img src="~/Images/LorcanaLogo.png" alt="Lorcana Logo" /></a></span>
        <span class="col-sm-3"></span>
    <p class="col-sm-12 text-light p-2 text-center">
        Lorcana is &copy;Disney, Operated by Ravensburger, an official licensee of Disney.
    </p>
    <p class="col-sm-12 text-light p-2 text-center">
        This website utilizes <a href="https://www.lorcana-api.com"> Lorcana-api.com.</a><br />
        Built my Matt Lewis, &copy;2025, NMC CIT218
    </p>
</div>
