@{
    ViewData["Title"] = "Contact";
}
<div class="row bg-dark rounded">


    <div class=" text-center col-sm-12 p-5">
    <h1 class="text-light">Contact Us</h1>
    <hr />
    <p class="h5"><i class="fa fa-envelope text-light"></i> <a href="mailto:lewis10@mail.nmc.edu" class="text-light">Email Matt</a></p>
    <p class="h5"><i class="fa fa-phone text-light"></i> <a href="tel:+18881234567" class="text-light">1.888.123.4557</a></p>
    </div>
    <span class="col-sm-12 pt-5 text-center">
        <a href="https://www.disneylorcana.com"><img src="~/Images/LorcanaLogo.png" alt="Lorcana Logo" /></a>
    </span>
    
</div>
