@model LorcanaCardCollectorModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-sm-4 rounded shadow-sm" style="background-color: #d5b88b; opacity: .9;">
    <!--<h3 class="display-6 text-dark pt-sm-4">Welcome to the</h3> -->
    <h1 class="display-4 text-dark freckle-font pt-sm-3 mb-sm-0">Lorcana Card Collector</h1>
    <p class="text-dark mt-sm-0 mb-sm-4" style="font-size: 1.5rem;">Search • Save • Sort</p>

    <!-- Search bar and buttons -->
    <form action="/Home/Index" method="post" >
        <div class="form-group p-sm-4">
            <label asp-for="CardName" class="form-label freckle-face-regular" style="font-size: 1.2rem;">Search for a Card Name</label>
            <input asp-for="CardName" class="form-control" />
        </div>
        <button type="submit" class="btn-primary m-sm-3 rounded-2 ps-sm-2 pe-sm-2">
            <i class="fa fa-search"></i> Search</button>
        <a asp-action="Index" class="m-sm-3">Clear</a>
    </form>
</div>

<!-- Dynamic area to display cards or error message -->
<div class="m-4 text-center">@Html.Raw(ViewBag.Results)</div>
